# Framework para criar a API web
flask==2.3.3

# Biblioteca para manipulação de dados, útil para preparar os dados para o modelo
pandas==2.0.3

# A principal biblioteca de Machine Learning para carregar e usar o modelo
scikit-learn==1.3.1

# Servidor web de produção para Flask (muito mais robusto que o servidor de desenvolvimento)
gunicorn==21.2.0

# Para carregar as variáveis de ambiente do arquivo .env
python-dotenv==1.0.0